@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300,300italic,600italic);
$primary-color: #2d2d2f;
$secondary-color: #f56500;
$background-color: #ece7ea;
$icon-color: #575757;
$font-all: 1em;
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: $font-all;
}
a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
h2 {
  font-size: 1.25em;
  font-weight: 400;
}
header {
  background: $primary-color;
}
.container {
  min-width: 420px;
  margin: auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
nav {
  width: 100%;
  font-size: 1.125em;
  &>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    &>li {
      display: inline;
      text-align: center;
      flex-grow: 1;
      position: relative;
      &>a {
        color: #fff;
        padding: 20px 0;
        display: block;
        transition: all 0.2s ease-in-out;
        font-size: 0.8em;
        &:after {
          transition: all 0.2s ease-in-out;
          top: 85%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-top-color: #232326;
          border-width: 0;
          margin-left: -10px;
          opacity: 0;
          z-index: -1;
        }
        &:hover:after {
          border-width: 10px;
          opacity: 1;
          top: 100%;
          z-index: 2;
        }
        &:hover {
          background: #232326;
          box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.75);
        }
      }
    }
  }
}
li:hover + .mega-drop,
.mega-drop:hover {
  max-height: 9999px;
  padding: 10px;
}
.mega-wrap:hover {
  max-height: 9999px;
}
.mega-drop {
  z-index: 1;
  box-sizing: border-box;
  top: 100%;
  position: absolute;
  width: 840px;
  margin-left: -420px;
  left: 50%;
  background: $background-color;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.banner-wrapper {
  display: inline-block;
  overflow: hidden;
  z-index: 0;
  a {
    overflow: hidden;
    display: inline-block;
  }
  img {
    width: 100%;
  }
  padding-bottom: 5px;
}
.inner-nav {
  display: flex;
  flex-wrap: wrap;
  .column {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    padding-right: 10px;
    z-index: 1;
    &:last-child {
      padding-right: 0;
    }
    .header {
      img {
        height: 32px;
        width: auto;
      }
    }
    h2 {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;
    }
    .divider {
      width: 100%;
      height: 5px;
      display: inline-block;
      background: #000;
    }
    .block {
      float: left;
      &.space {
        flex: 1 0 auto;
      }
    }
    .links {
      margin-top: 30px;
      ul {
        color: $secondary-color;
        li {
          text-align: left;
          margin-bottom: 10px;
          a {
            color: $secondary-color;
            font-weight: 600;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: darken($secondary-color, 15%);
            }
          }
        }
        list-style-type: disc;
        padding-left: 20px;
      }
    }
    .highlight {
      padding: 25px 0;
      text-align: left;
      font-weight: 600;
      font-size: 0.9em;
      img {
        height: 20px;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        color: $primary-color;
        &:hover {
          color: darken($primary-color, 15%);
        }
      }
    }
    .preview {
      position: relative;
      &>img {
        box-sizing: border-box;
        border: solid 4px $background-color;
        max-width: 100%;
      }
    }
  }
}
footer {
  height: 2000px;
  display: inline-block;
}
.column-content {
  display: flex;
  max-width: 100%;
  padding: 20px;
  flex-grow: 1;
  flex-direction: column;
  background: #fff;
}
.nav-mobile {
  display: none;
  /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: $primary-color url("../assets/nav.svg") no-repeat center center;
  height: 40px;
  width: 100%;
}
.nav-list {
  transition: all 1s ease-in-out;
}
//media Queries
@media (max-width:500px) {
  .column-content {
    .block {
      &.links {
        a {
          font-size: 0.9em;
        }
      }
      .highlight {
        span {
          font-size: 0.7em;
        }
        img {
          display: none;
        }
      }
    }
  }
}
@media (max-width:640px) {
  li:hover + .mega-drop,
  .mega-drop:hover {
    max-height: 9999px;
    padding: 30px 10px 10px;
  }
  .container {
    max-width: 100%;
  }
  .nav-list {
    display: none;
    &.nav-active {
      display: block;
      max-height: 900px;
      padding-top: 40px;
    }
  }
  .nav-mobile {
    display: block;
  }
  nav {
    .mega-drop {
      top: 48%;
      .column-content {
        padding: 10px;
        .block {
          padding: 5px;
        }
        .header {
          h2 {
            font-size: 1em;
          }
        }
      }
    }
  }
  nav {
    &>ul {
      &>li {
        a {
          &:hover {
            &:after {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  nav {
    &>ul {
      &>li {
        &.active {
          a {
            &:hover {
              box-shadow: none;
              background-color: lighten($primary-color, 10%);
              &:after {
                border-width: 10px;
                opacity: 1;
                top: 100%;
                z-index: 2;
                left: auto;
                margin-left: -40px;
                border-top-color: lighten($primary-color, 10%);
              }
            }
          }
        }
        a {
          font-size: 0.8em;
        }
      }
    }
  }
}
@media (min-width:641px) {
  padding-top: 30px;
  .container {
    max-width: 640px;
  }
}
@media (max-width:860px) {
  .column-content {
    flex-direction: row;
    align-items: center;
    .block {
      width: 33.33%;
      &.header {
        .divider {
          display: none;
        }
      }
    }
  }
  .mega-drop {
    width: auto;
    max-width: 100%;
    left: 0;
    margin: auto;
    top: 100%;
    .column {
      padding: 0 0 10px;
      width: 100%;
      .links {
        margin-top: 0;
      }
      .highlight {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        padding: 0;
        top: 50%;
        margin-top: -22px;
        &>a {
          background-color: #fff;
          opacity: 0.75;
          display: inline-block;
          padding: 10px 0;
          width: 100%;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media (min-width:860px) {
  .container {
    max-width: 861px;
  }
  .column {
    width: 25%;
  }
  nav {
    &>ul {
      &>li {
        a {
          font-size: 0.9em;
        }
      }
    }
  }
}
@media (min-width:1025px) {
  .container {
    max-width: 1024px;
  }
  nav {
    &>ul {
      &>li {
        a {
          font-size: 1em;
        }
      }
    }
  }
}
@media (min-width:1281px) {
  max-width: 1280px;
}
//bling
@keyframes hvr-buzz {
  50% {
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
.column-content:hover .hvr-buzz,
.column-content:focus .hvr-buzz,
.column-content:active .hvr-buzz {
  animation-name: hvr-buzz;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/**
 * The "shine" element
 */
.banner-wrapper a {
  &:after {
    overflow: hidden;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
  }
}
/* Hover state - trigger effect */
.banner-wrapper a {
  &:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1.5s, 1.5s, 0.7s;
    transition-timing-function: ease;
  }
}
/* Active state */
.banner-wrapper a {
  &:active:after {
    opacity: 0;
  }
}
